:root {
  --primary-color: red;
}



.jab-head {
  font-size: 36;
  font-weight: bold;
}

.jab-child{
  font-size: 24;
  font-weight: bold;
  color: #5F8D4E;
}

.pub-pat-btn {
  background-color: #5F8D4E;
}

.btn-bot-text {
  margin-bottom : -1px;
  font-weight: bold;
  font-size: 36px;
}

.bio-cont {
  max-width: 792px;
}

.bio-cont-pres-peng {
  max-width: 650px;
}

.profile-image {
  margin-top: -24px;
}

.text-bio {
  text-align: justify;
}

.prestasi {
  background-image: url("./assets/images/bg.png");
  background-repeat: repeat-y;
}

.Header {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: -14px;
}

.Content {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.list {
  background-color: #5F8D4E;
}

.map {
  /* background-image: url("./assets/images/map.png"); */
  background-color: #5F8D4E;
}

/* .story {
  background-image: url("./assets/images/bg.png");
  background-repeat: repeat-x;
} */

.line {
  font-size: 3px;
  color: var(--primary-color);
}

.justifytext {
  text-align: justify;
}

.imagehover {
  transition: transform .2s; /* Animation */
}

.imagehover:hover{
  transform: scale(1.2);
}



@media only screen and (max-width: 567px){
  .text-content {
    font-size: 12px !important;
  }

  .title {
    font-size: 24px;
  }

  .img-round {
    border-radius: 40% !important;
  }

  .headline {
    font-size: 28px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  .text-content {
    font-size: 16px !important;
  }

  .md-title {
    font-size: 16px;
    text-align: start !important;
  }

  .md-title-reverse {
    font-size: 16px;
    text-align: end !important;
  }

  .md-text {
    font-size: 14px;
  }

  .video-round {
    border-radius: 5%;
  }

  .img-round {
    border-radius: 10% !important;
  }

  .headline {
    font-size: 28px;
    text-align: center;
  }
}

@media only screen and (max-width: 991px){
  .headline {
    font-size: 28px;
    text-align: center;
  }

}

.text-justify {
  text-align: justify;
}

.video-round {
  border-radius: 3%;
}

.img-round {
  border-radius: 3% !important;
}